<h1>Atomic structures</h1>
All atomic are made from three subatomic particles.

<br/><img src="../images/oxygen.png"></img>

<h2>Bohr model</h2>

The nucleus contains protons and neutrons which are normally the same amount.

The rings outside are called shells.

<br/><img src="../images/atoms.png"></img>

<h2>Plum-pudding model</h2>

Before the Bohr model there was the plum-pudding model, where everything is dispersed within the atom iregulary.

