<h1>Covalent bonds</h1>

A covalent bond is a chemical bond that involves the haring of electron pairs between atoms.<br/>

<img class="tooltip" title="Covalent bonds" src="/images/covalentbond.png"/>

<h1>Metal ions</h1>

They have strong bonds because of the strong attraction between the positive ions and negative electrons.

<h1>Ionic bonds</h1>

<span class="tooltip" title="Source: Simple English Wikipedia">
    An ionic bond is the bonding between a non-metal and a metal, that occurs when charged atoms (ions) attract. This happens after a metal atom loses one or more of its electrons to the nonmetal atom. This makes the bond stronger and harder to break.
</span><br/>

<img class="tooltip" title="Ionic bond" src="/images/ionicbond.png"/>
