<h1>Fission</h1>

<img src="/images/fission.svg"/>

<h2>Process</h2>

<ol>
    <li>Neutron hits a larger nucleus of an isotope.</li>
    <li>Splits in two, which produces more neutrons, and the cycle starts again</li>
</li>

This is how chain reaction works.

This is also used in a nuclear powerstation, but the process in the
power station is more controlled using leads rods.

<h1>Fusion</h1>


Two small nuclei <b>fuse</b> together to make one nucleus. THis gives out energy and one neutron.

This happens within our star and all others.



<img src="/images/fusion.png"/><br/>

<b>There is no chain reaction</b>
