<h1>Radiation</h1>

<h1><%= onetoolt 'https://en.wikipedia.org/wiki/Geiger%E2%80%93M%C3%BCller_tube', 'Geiger-műller tube'%></h1>

The Geiger-műller tube is used to measure the intensity of radiation from a specific radioactive source.

<h2>Properties</h2>

<li>Lead reduced the radiation being received by the Geiger-műller to almost nothing.</li>
<li>A thin piece of aluminum reduced the radiation quite a bit.</li>
<li>A thicker piece of aluminum reduced the radiation by even more.</li>
<li>A piece of plastic didn't do much.</li>

<h1>Alpha</h1>

Alpha radiation of the release of an alpha
particle, which is 2 protons and 2 neutrons.

<h2>Uses</h2>

Uses of alpha radiation. Ionisation is useful for smoke
detectors. Radioactive americium releases alpha radiation, which
ionises the air inside the detector. Smoke from a fire absorbs alpha
radiation, altering the ionisation and triggering the alarm. (Source:
BBC Bitesize)

<h2>Protection</h2>

ALPHA – can be stopped after traveling through about 1.2 inches of air, about 0.008 inches of water, or a piece of paper or skin. A thin piece of paper, or even the dead cells in the outer layer of human skin provides adequate shielding because alpha particles can’t penetrate it. However, living tissue inside the body offers no protection against inhaled or ingested alpha emitters.

<h2>Dangers</h2>

Alpah emitting substances are only harmful when inhaled, ingested, absorbed through open wounds.

<h1>Beta</h1>

In beta decay, a neutron in the nucleus spontaneously
decays into a proton and disperses.

<h2>Uses</h2>

Beta particles can be used to treat health conditions such as eye and
bone cancer and are also used as tracers. Strontium-90 is the material
most commonly used to produce beta particles. Beta particles are also
used in quality control to test the thickness of an item, such as
paper, coming through a system of rollers. (Source: Wikipedia)

<h2>Protection</h2>
BETA – can only be stopped after traveling through about 10 feet of air,  less than 2 inches of water, or a thin layer of glass or metal. Additional covering, for example heavy clothing, is necessary to protect against beta- emitters. Some beta particles can penetrate and burn the skin.

<h2>Dangers</h2>

Beta particles can penetrate the skin, which also proves useful for radiotherapy.

<h1>Gamma</h1>

If a nucleus still has energy after releasing alpha particles or
beta particles it can get rid of the extra enerrgy by releasing a gamma ray.

<h2>Uses</h2>

GAMMA: To reduce typical gamma rays by a factor of a billion, thicknesses of stop-gammashield need to be about 13.8 feet of water, about 6.6 feet of concrete, or about 1.3 feet of lead. Thick, dense shielding  is necessary to protect against gamma rays. The higher the energy of the gamma ray, the thicker the shield must be. X-rays pose a similar challenge. This is why x-ray technicians often give patients receiving medical or dental X-rays a lead apron to cover other parts of their body.

<%= onetoolt 'https://en.wikipedia.org/wiki/Gamma_ray#Uses', 'Gamma ray uses' %>

<h2>Dangers</h2>

Gamma particles can pentrate and <b>burn</b> the skin.

<h1>Terms</h1>

<%= toolterm 'half-life', 'Half-life' %>
